body {
	margin: 0;
	font-family: "Recoleta-Medium", sans-serif;
	background-color: darkorange;
	
}

.section{
	text-align:center;
}
/* #section0{
	background-image: linear-gradient(128deg,#40afff,#3f61ff);
}

#section1{
	background-image: linear-gradient(128deg,#ff9a3f,#ff4b40);
}

#section2{
	background-image: linear-gradient(128deg,#fc40ff,#543fff);
}

#section3{
	background-image: linear-gradient(128deg,#40fff2,#3fbcff);
} */

#home-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px); /*contrast(180%);*/
	-webkit-backdrop-filter: blur(5px);
	z-index: 10;
	color: white;
}
.home {
	margin:2rem;
}
#home__title {
	font-size: 2.5rem;
	font-family: "PAG Smoke";
	filter: drop-shadow(3px 3px orange);
}
.home__button {
	/* background-color: white; */
	display: flex;
	cursor: pointer;
	width: 100%;
	justify-content: center;
}
.home__description {
	font-size: 1.2rem;
	filter: drop-shadow(1px 1px orange);
	margin-bottom: 1rem;
}

.moment {
	color:white;
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	/* right: 0; */
	display: flex;
	flex-direction: column;
	/* align-items: flex-end; */
	z-index: 1;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.2rem;
	font-size: 1.2rem;

	/* background: white */
}
.dia {
	font-size: 1rem;
	color: white;
	/* text-align: right; */
	filter: drop-shadow(1px 1px orange);

}
.description {
	/* text-align: right; */
	filter: drop-shadow(1px 1px orange);
}
.location {
	/* font-weight: bold; */
	font-size: 2.5rem;
	font-family: "PAG Smoke";
	filter: drop-shadow(3px 3px orange);
}
#map {
	/* position: absolute; */
	/* left: 0;
	right: 0;
	top: 0;
	bottom: 0; */
	margin-top: 0.2em;
	border: 2px solid orange;
	border-radius: 100rem;
	font-size: 1rem;
	/* margin: auto; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 0; */
	width: 2.5rem;
	height: 2.5rem;
	/* text-align: justify; */
	/* background: pink; */
	/* z-index: 1; */
	background-color: rgba(255, 255, 255, 0.3); /*rgba(255, 165, 0, 0.5);*/
	backdrop-filter: blur(5px); /*contrast(180%);*/
	-webkit-backdrop-filter: blur(5px); /*contrast(180%);*/

	/* text-align: center; */
    /* vertical-align: middle; */
}

#steps {
	position: absolute;
	bottom: 0;
	left: 0;
	/* background: pink; */
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.333em;
	margin: 0.333em;
}

.step {
	font-family: "Recoleta-Medium", sans-serif;
	font-size: 0.8rem;
	/* filter: drop-shadow(1px 1px orange); */
	color: white;
	border: 0px solid white;
	border-radius: 100rem;
	height:1.7rem;
	padding: 0rem 0.75rem;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px); /*contrast(180%);*/
	-webkit-backdrop-filter: blur(5px); /*contrast(180%);*/
}
.step[current] {
	background-color: rgba(255, 165, 0, 0.5);
}

#start {
	/* position: absolute; */
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 3px solid orange;
	border-radius: 100rem;
	font-size: 5rem;
	margin: auto;
	padding: 0;
	width: 10rem;
	height: 10rem;
	/* text-align: justify; */
	/* background: pink; */
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(5px); /*contrast(180%);*/
	-webkit-backdrop-filter: blur(5px); /*contrast(180%);*/

	/* text-align: center; */
    /* vertical-align: middle; */
}

.wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.vid {
	/* position: fixed; */
	/* position: absolute; */
  	object-fit: cover;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Spinner */
#spinner-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.loading-spinner {
	/* display: none; Hide the spinner by default */
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 3px solid #f3f3f3;
	border-top-color: orange;
	animation: spin 1s linear infinite;
	position: absolute;
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}